<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lenneKsypoons.special"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hearticon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lenneKsypoons.special.First"
            android:label="@string/app_name"            
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".Second"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            
           
        </activity>
        
         <activity
            android:name=".Third"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            
           
        </activity>
        
         <activity
            android:name=".MyGraphics"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            
           
        </activity>
        
        
        
    </application>

</manifest>